*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* share style  */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
font-size: 45px;
font-weight: 900;
}
.color-orange{ 
  color: #FD6E0A;
}

.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}
/* Main style */

header{
  background-color: #FFF8F3;
  background: url(../images/developer.png) , url(../images/header_bg.png) , #FFF8F3;
  background-position: top left , bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav{
  width: 65%;
  max-width: 1249px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 61px;
  align-items: center;
}

nav .menu a{ 
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
#banner{
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banerr-content{
  max-width: 585px;
}
.banner-image img{
  max-width: 585px;
  vertical-align: middle;
}

#banner .banerr-content h2{
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

#banner .banerr-content h1{
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

#banner .banerr-content p{
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}